# Noted. Backend — Environment Variables
# Copy this file to .env and fill in your key

# Get your FREE key at: https://console.groq.com
# No credit card required
GROQ_API_KEY=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

PORT=3000
